<div class="container">
  <!-- <div class="text-center">
      <h1>Contacts</h1>
  </div> -->

  <div class="row row-cols-2 row-cols-md-3 g-4">
    <div class="col" *ngFor="let item of data">
      <div class="card border-primary h-100">
        <!-- <div class="card-header">
          {{ item.name }}
        </div> -->
        <!-- [src]="randomPictureURL()" -->
        <img  src="../assets/img/avatar1.png" class="card-img-top" alt="{{ item.name }}"/>
        <div class="card-body">
          <h2 class="card-title text-center"><b>{{ item.name }}</b></h2>
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Username:</th>
                <td>{{ item.username }}</td>
              </tr>
              <tr>
                <th>Phone number:</th>
                <td>{{ item.phone }}</td>
              </tr>
              <tr>
                <th>Email:</th>
                <td>{{ item.email }}</td>
              </tr>
              <tr>
                <th>Website:</th>
                <td>{{ item.website }}</td>
              </tr>
            </table>

          </div>
          <!-- <p class="card-text">
            <mat-icon>account_circle</mat-icon> <b>Username:</b> {{ item.username }} <br/>
            <mat-icon> contact_phone</mat-icon> <b>Phone number:</b> {{ item.phone }} <br/>
            <mat-icon> mail_outline</mat-icon> <b>Email:</b> {{ item.email }} <br/>
            <mat-icon>computer</mat-icon> <b>Website:</b> {{ item.website }} <br/>
          </p> -->

          <button mat-raised-button (click)="openDialog(item.id)" class="btn btn-primary">
            <mat-icon>contact_support</mat-icon> See More
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
